.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 100px;
}
.wrapper .jumbotron {
    text-align: center;
}
.board {
    width: 750px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* grid-gap: 0.2em; */
    padding: 20px 0;
}

.board>div {
    background: #dadada;
    padding: 1em;
}

.board>div:nth-child(odd) {
    background: #a9a7a7;
}

#game-board .position {
    width: 50px;
    height: 50px;
    z-index: 1;
    position: relative;
    border: 1px solid #eee;
}
#game-board .position:hover {
    border: 1px solid red;
}

img.ship {
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

img.missed {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}
.player-1 {
    /* background: rgba(247, 153, 153, .3); */
}
